<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="SW Empresarial" />
        <meta name="author" content="Eric Yepez" />
        <title>SW-Empresarial</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link th:href="@{/css/datatables.min.css}" rel="stylesheet" type="text/css" />
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index" th:text="${nomEmpresa}"></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
<!--            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">-->
<!--                <div class="input-group">-->
<!--                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />-->
<!--                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
<!--                </div>-->
<!--            </form>-->
            <!-- Navbar-->
<!--            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#!">Settings</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>-->
<!--                        <li><hr class="dropdown-divider" /></li>-->
<!--                        <li><a class="dropdown-item" href="#!">Logout</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Menu</div>
                            <a class="nav-link" th:href="@{/inventario}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Inventario
                            </a>
<!--                            <div class="sb-sidenav-menu-heading">Interface</div>-->
<!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
<!--                                Layouts-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">-->
<!--                                <nav class="sb-sidenav-menu-nested nav">-->
<!--                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>-->
<!--                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>-->
<!--                                Pages-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">-->
<!--                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">-->
<!--                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">-->
<!--                                        Authentication-->
<!--                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                                            <a class="nav-link" href="login.html">Login</a>-->
<!--                                            <a class="nav-link" href="register.html">Register</a>-->
<!--                                            <a class="nav-link" href="password.html">Forgot Password</a>-->
<!--                                        </nav>-->
<!--                                    </div>-->
<!--                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
<!--                                        Error-->
<!--                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                                            <a class="nav-link" href="401.html">401 Page</a>-->
<!--                                            <a class="nav-link" href="404.html">404 Page</a>-->
<!--                                            <a class="nav-link" href="500.html">500 Page</a>-->
<!--                                        </nav>-->
<!--                                    </div>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                            <div class="sb-sidenav-menu-heading">Addons</div>-->
<!--                            <a class="nav-link" href="charts.html">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                                Charts-->
<!--                            </a>-->
<!--                            <a class="nav-link" href="tables.html">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
<!--                                Tables-->
<!--                            </a>-->
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <label th:text="${nomEmpresa}"> </label>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content" class="container-fluid" layout:fragment="page-content">

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; EYEPEZ 2022</div>
<!--                            <div>-->
<!--                                <a href="#">Privacy Policy</a>-->
<!--                                &middot;-->
<!--                                <a href="#">Terms &amp; Conditions</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/js/all.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/Chart.min.js}"></script>
<!--        <script th:src="@{/assets/demo/chart-area-demo.js}"></script>-->
<!--        <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->
        <script th:src="@{/js/jquery-2.2.4.js}"></script>
        <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
        <script th:src="@{/js/datatables.min.js}" type="text/javascript" ></script>
        <script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<!--        <script src="https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json" type="text/javascript"></script>-->
        <script th:src="@{/js/datatables-simple-demo.js}"></script>
    </body>
</html>
