<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!--<head th:replace="layout/layout :: head">-->
<head th:insert="layout/layout :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid" layout:fragment="page-content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Inventario</h1>
        </div>
        <div class="card mb-4">
            <!--            <div class="card-header">-->
            <!--                <i class="fas fa-table me-1"></i>-->
            <!--                DataTable Example-->
            <!--            </div>-->
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal"
                       th:href="@{/inventario/registro}">Registro</a>
                </div>
                <table th:fragment="listInv" id="inventarioDT"
                       class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                    <tr>
                        <!--                        <th>Id</th>-->
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Ubicacion</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <!--                    <tfoot>-->
                    <!--                    <tr>-->
                    <!--                        <th>Id</th>-->
                    <!--                        <th>Descripcion</th>-->
                    <!--                        <th>Codigo</th>-->
                    <!--                        <th>Precio</th>-->
                    <!--                        <th>Stock</th>-->
                    <!--                        <th>Ubicacion</th>-->
                    <!--                    </tr>-->
                    <!--                    </tfoot>-->
                    <tbody>
                    <tr th:each="inventario : ${listInv}">
                        <!--                        <td th:text="${inventario.idProd}"></td>-->
                        <td th:text="${inventario.desCodigo}"></td>
                        <td th:text="${inventario.desProd}"></td>
                        <td th:text="${inventario.decPrecio}"></td>
                        <td th:text="${inventario.numStock}"></td>
                        <td th:text="${inventario.desUbicacion}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{/inventario/editar/} + ${inventario.idProd}">Editar <i
                                    class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<!--Scripts-->
<th:block layout:fragment="page-scripts">
</th:block>
</body>
</html>