<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:insert="layout/layout :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid" layout:fragment="page-content">
    <main>
        <div class="card mb-4">
            <div class="card-body">
                <div th:switch="${isNew}">
                    <div class="container-fluid px-4">
                        <h2 th:case="${true}" class="mt-4">Nuevo Producto</h2>
                        <h2 th:case="${false}" class="mt-4">Editar Producto</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <!--                    <div th:if=${param.exito}>-->
                            <!--                        <div class="alert alert-info">Se ha registrado exitosamente a-->
                            <!--                            la aplicación</div>-->
                            <!--                    </div>-->
                            <!--                    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"-->
                            <!--                         th:text="${mensaje}"-->
                            <!--                         class="alert">-->
                            <!--                    </div>-->

                            <form th:action="@{/inventario/grabar}" method="post" th:object="${inventario}">
                                <div class="form-group">
                                    <label class="control-label" for="desCodigo">Codigo : </label> <input
                                        id="desCodigo" type="text" class="form-control" th:field="*{desCodigo}"
                                        required autofocus="autofocus">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="desProd">Descripcion : </label> <input
                                        id="desProd" class="form-control" th:field="*{desProd}"
                                        required autofocus="autofocus">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="numStock">Stock : </label> <input
                                        id="numStock" class="form-control" th:field="*{numStock}"
                                        required autofocus="autofocus">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="decPrecio">Precio Unit : </label> <input
                                        id="decPrecio" class="form-control" th:field="*{decPrecio}"
                                        required autofocus="autofocus">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="Ubicacion">Precio Unit : </label> <input
                                        id="desUbicacion" class="form-control" th:field="*{desUbicacion}"
                                        required autofocus="autofocus">
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Registrar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
</body>
</html>